# Gradle
!gradle-wrapper.jar
.gradle/

# IntelliJ stuff.
.idea/*

# Useful run config files fo IntelliJ
!.idea/
!.idea/runConfigurations/
.idea/runConfigurations/*
!.idea/runConfigurations/test.xml
!.idea/runConfigurations/dev.xml

# General
classes/
build/
logs/
out/

# Files which get created on run-time
assets/config.yml